# Arquivos gerados pelo Cargo
/target/

# Lockfile
# Mantenha se este projeto for uma aplicação (CLI e bot).
# Remova esta linha se for uma biblioteca.
/Cargo.lock

# Arquivos de backup de editores
**/*.rs.bk

# Variáveis de ambiente
.env
.env.*

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp
